nodered/node.yml
[{"id":"362d78fe.abd978","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f6b8bedb.70eb6","type":"wml-config","z":"","host":"https://eu-gb.ml.cloud.ibm.com","accesskey":"1gWjMwaPvMZYq7Aqhx4MWyv1qv0o8dQuuuKBSFwxYNdf","instanceid":"3b2762ff-486b-4155-859d-789b4297d073","name":"ml marco"},{"id":"bb35f3d8.c5842","type":"websocket-listener","z":"","path":"/ws/statuts","wholemsg":"false"},{"id":"e9d38f2.ed06a7","type":"wml-config","z":"","host":"https://ibm-watson-ml.mybluemix.net","accesskey":"","instanceid":"","name":"Initial"},{"id":"a6b79885.43db58","type":"wml-config","z":"","host":"https://ibm-watson-ml.mybluemix.net","accesskey":"","instanceid":"","name":"Initial"},{"id":"e8c44440.276548","type":"websocket-client","z":"","path":"ws://joraco.site:8080","tls":"","wholemsg":"false"},{"id":"82d6b193.e73e6","type":"wml-config","z":"","host":"https://eu-gb.ml.cloud.ibm.com","accesskey":"ULSbz3cq7K5jMzQOUoz4VIXBiT6NZeGqI8jdJZ6676aE","instanceid":"b6faeb13-cab9-4699-bee9-5b0bf4469954","name":"Prometeo"},{"id":"f9c45509.a2fc98","type":"wml-config","z":"","host":"https://eu-gb.ml.cloud.ibm.com","accesskey":"ULSbz3cq7K5jMzQOUoz4VIXBiT6NZeGqI8jdJZ6676aE","instanceid":"b6faeb13-cab9-4699-bee9-5b0bf4469954","name":"prom"},{"id":"c788140a.312b68","type":"websocket-listener","z":"","path":"ws://159.122.187.64:32712","wholemsg":"false"},{"id":"8caef996.b96cb8","type":"websocket-client","z":"","path":"ws://169.51.194.198:30503","tls":"","wholemsg":"false"},{"id":"e25a7cd4.55e3f","type":"ibmiot in","z":"362d78fe.abd978","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":false,"qos":0,"x":190,"y":240,"wires":[["4736c96c.d408c8","e29fffe3.a40dc"]]},{"id":"4736c96c.d408c8","type":"cloudant out","z":"362d78fe.abd978","name":"","cloudant":"","database":"nodemcu","service":"nodemcu-cloudantNoSQLDB","payonly":false,"operation":"insert","x":380,"y":240,"wires":[]},{"id":"e29fffe3.a40dc","type":"function","z":"362d78fe.abd978","name":"IoT2ML","func":"msg.payload = {\"fields\":[\"Temperatura\",\"Humedad\",\"Humo\"],\"values\":[[msg.payload.d.temperatura, msg.payload.d.humedad, msg.payload.d.humo]]};\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":340,"wires":[["d0702dbd.1b57e"]]},{"id":"d0702dbd.1b57e","type":"wml","z":"362d78fe.abd978","name":"Machine Learning Firefighter Health Prediction","connection":"f9c45509.a2fc98","wml-mode":"runPrediction","model":"47e5a12d-1808-4866-8ec1-0ba1785e67d4","deployment":"e65eed07-7271-425d-adf9-5b7ff39bfc51","modelhidden":"47e5a12d-1808-4866-8ec1-0ba1785e67d4","deploymenthidden":"","x":540,"y":460,"wires":[["75ee7399.10b1bc"]]},{"id":"628a7a56.ba5cc4","type":"websocket out","z":"362d78fe.abd978","name":"Webscokets Server","server":"","client":"8caef996.b96cb8","x":710,"y":600,"wires":[]},{"id":"75ee7399.10b1bc","type":"function","z":"362d78fe.abd978","name":"ML2status2.0","func":"var timestamp = new Date().valueOf();\nmsg.payload = {\"fields\":[\"Bombero\",\"Estado\",\"Timestamp\",\"Temp\",\"Humidity\",\"Smoke\"],\"values\":[msg.deviceId, msg.payload.values[0][7], timestamp, msg.payload.values[0][0], msg.payload.values[0][1], msg.payload.values[0][2]]};\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":540,"wires":[["628a7a56.ba5cc4"]]}]
